

aside{
   
    height: 100vh;
    width: 100%;
    min-height: 700px;
    min-width: 50px
}
.foot {
    padding-top: 20px;
   
}
.profile {
    
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
}
.profile img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-top: 10px;
}

.profile .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile .info .name {
    font-weight: 600;
    white-space: nowrap;
}
.profile .info .job {
    font-size: 13px;
}
.foot .menu-logout {
    color: red;
    background: #F2F2F2;
    margin-top: 15px;
}
.foot .menu-logout:hover {
    background: #FFE3E3;
    color: red;
}
.asidbar{
   
    height: calc(100vh - 90px);
    min-height: 600px;
    overflow: scroll;
}
.square{
    height: 50px;
    /* border: 1px solid rgb(162, 162, 162); */
    display: flex;
    margin: 5px ;
    border-radius: 3px;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: pointer;

}
.square:hover{
    background-color: #F2F2F2;
    /* border: 1px solid yellow ; */
}
.square p,.square i{
    
    margin: 0;
    font-size: x-large;
    margin: 1px 5px;
}
.square p{
    font-size: 15px;
    font-weight: 600;
    height: max-content;
}
@media (max-width:777px) {
    .profile img {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .square{
        display: flex;
        justify-content: center;
    }
    
}
@media (max-width:1015px) {
    .square p{
        font-size: 13px;
    }  
}
@media (max-width:973px) {
    .info .name{
        font-size: 11px;
    }
}
@media (max-width:767px) {
    .info .name{
        font-size: 20px;
    }
}
svg{
    height: 30px;
    width: 30px;
}
.asidButton{
   
    height: 100vh;
}
